version: '3.8'

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app-network
    restart: unless-stopped

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: fpni9255/megaschool-api:latest
    container_name: api
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - LOG_LEVEL=info
    depends_on:
      - ollama
    volumes:
      - ./backend:/app
      - /app/.venv

    networks:
      - app-network

    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

  streamlit:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    depends_on:
      - api
    volumes:
      - ./frontend:/app
      - /app/.venv
    networks:
      - app-network
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0 --server.runOnSave=true
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  ollama_data:
    driver: local
